header {    
    display: flex;
    justify-content: center;
}

#nav_bar {
    position: fixed;
    top: 0;
    width: 100%;
    min-width: 18em;
    max-width: 100em;
    z-index: 42;
    padding: 0;
}

#nav_logo {
    margin-left: 1em;
}

#nav_dropdown {
    list-style-type: none;
}

footer {
    background-color: green;
}