{% extends 'main/base.html' %}
{% load static %}

{% block title %}inlemma - Home{% endblock title %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/homespace.css' %}" />
{% endblock head %}

{% block body %}
    {{ block.super }}

    {% include 'posts/newPost.html' %}    

    <h1> Welcome, {{ user.username }} </h1>
    <ul>
        <li>
            <a href="{% url 'logout' %}">Logout</a>
        </li>
    </ul>

{% endblock body %}

{% block js %}
    {{ block.super }} 
    <script src="{% static 'home/js/autoHideCK.js' %}"></script>
    <script src="{% static 'main/js/resizableText.js' %}"></script>
    <script>
        $('#post_form').submit(function (e) {
            e.preventDefault();
            for (var instance in CKEDITOR.instances)
                CKEDITOR.instances[instance].updateElement();
            var data = $(this).serialize();
            $.ajax({
                type : "POST",
                data: data,
                
                success: function(response){
                    var title = document.getElementById("{{ form.title.id_for_label }}");
                    title.value = "";
                    for (var instance in CKEDITOR.instances)
                        CKEDITOR.instances[instance].setData("");
                    var messages = document.getElementById("messages_wrapper");
                    messages.innerHTML += `<div id="messages" class="alert alert-warning alert-dismissible fade show" role="alert">
                        <ul>
                            <li>`+response["message"]+`</li>
                        </ul>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>`;
                },
            
                error: function(response) {
                    var messages = document.getElementById("messages_wrapper");
                    messages.innerHTML += `<div id="messages" class="alert alert-warning alert-dismissible fade show" role="alert">
                        <ul>
                            <li>`+response["responseJSON"]["message"]+`</li>
                        </ul>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>`
                }        
            });
        });    
    </script>
{% endblock js %}