{% extends 'main/base.html' %}
{% load static %}

{% block title %}inlemma - Home{% endblock title %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/homespace.css' %}" />
{% endblock head %}

{% block body %}
    {{ block.super }}

    {% include 'posts/newPost.html' with config=config %}    

    <h1> Welcome, {{ user.username }} </h1>
    <ul>
        <li>
            <a href="{% url 'logout' %}">Logout</a>
        </li>
    </ul>

{% endblock body %}