.post_option {
    margin-right: 1.5em;
}

#post_form {
    width: 100%;
}

#post_options {
    background-color: gainsboro;
    padding: 0.5em;
    border-radius: 1em;
    display: inline-block;
    margin-bottom: 0.5em;
}

.post_header_button {  
    border-radius: 1em;
    padding: 0.5em 1em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}

/* #post_button {
} */

/* #save_button {
} */

.resizable_textarea {
    min-height: 8em;
    max-height: 30em;
}

.newpost {
    resize: none;
    border-style: none;
    border-width: 0;
    padding: 1em;
    width: 100%;
}

#id_title {
    overflow-x: auto;
    border-radius: 0;
}

input:focus,
textarea:focus {
    outline: 0;
}

.django-ckeditor-widget {
    width: 100%;
    transform:translate3d();
    -webkit-transform:translate3d(0,0,0);
}

#cke_id_body {
   border: 0;
}

#newPostEntries {
    padding: 0.5em;
    border-radius: 1em;
    background-color: white;
}