.post_option {
    margin-right: 1.5em;
}

#post_form {
    width: 100%;
}

#post_options {
    background-color: gainsboro;
    padding: 0.5em;
    border-radius: 1em;
    display: inline-block;
    margin-bottom: 0.5em;
    padding-left: 1em;
}

.post_header_button {  
    border-radius: 1em;
    padding: 0.5em 1em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}

#post_form {
    padding: 0.75em;
    background-color: darkkhaki;
    border-radius: 1em;
}

@media only screen and (max-width: 385px) {
    #posting_buttons {
        flex-wrap: wrap;
    }
    #post_button {
        margin-bottom: 0.5em;
    }
}

@media only screen and (max-width: 330px) {
    #newPostHeader {
        flex-wrap: wrap;
    }
    #posting_buttons {
        width: 100%;
        justify-content: space-between;
    }
    #save_button {
        margin-right: 0;
    }
}

/* #post_button {
} */

/* #save_button {
} */

.newpost {
    resize: none;
    border-style: none;
    border-width: 0;
    padding: 1em;
    width: 100%;
}

#id_title {
    /* overflow-x: auto; */
    height: 1em;
}

input:focus,
textarea:focus {
    outline: 0;
}

.django-ckeditor-widget {
    width: 100%;
}

#cke_id_body {
   border: 0;
}

#newPostEntries {
    padding: 0.5em;
    border-radius: 1em;
    background-color: white;
}

#dummyNewPost::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(171, 171, 171, 0.8);
    font-size: small;
    padding: 4px;
    font-family: sans-serif, Arial, Verdana, "Trebuchet MS", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#newPostBody {
    display: none;
}