{% extends 'main/base.html' %}
{% load static %}

{% block title %}{{ user.username }} - inlemma{% endblock title %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'profiles/css/profile.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'posts/css/post.css' %}" />
{% endblock head %}

{% block body %}
    {{ block.super }}

    {% include 'profiles/profile_header.html' %}

    {% for post in posts %}
        {% include 'posts/post.html' with post=post%}
    {% endfor %}

{% endblock body %}