{% extends 'main/base.html' %}
{% load static %}

{% block title %}{{ profileUser.username }} - inlemma{% endblock title %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'profiles/css/profile.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'posts/css/post.css' %}" />
{% endblock head %}

{% block body %}
    {{ block.super }}

    {% include 'profiles/profile_header.html' with user=profileUser%}

    <div class="posts infinite-container">
        {% if posts %}
            {% for post in posts %}
                {% include 'posts/post.html' with post=post %}
            {% endfor %}
        {% else %}
            {% include 'posts/emptyPost.html' with post=post %}
        {% endif %}
    </div>

    <div class="d-flex d-none position-fixed" style="top:35vh;left:46vw">
        <button class="btn btn-primary loading">
            <span class="spinner-border spinner-border-sm"></span>
            Please wait...
        </button>
    </div>

    {% if page_obj.has_next %}
        <a class="infinite-more-link" href="?page={{page_obj.next_page_number}}"></a>
    {% endif %}

    <script src="{% static 'profiles/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'profiles/js/infinite.min.js' %}"></script>

    <script>
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],

            offset: 'bottom-in-view',

            onBeforePageLoad: function () {
                $('.loading').show();
            },
            onAfterPageLoad: function () {
                $('.loading').hide();
            }

        });
    </script>

{% endblock body %}