{% extends 'main/base.html' %}

{% load static %}

{% block title %}inlemma - login{% endblock title %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/login.css' %}" />
{% endblock head %}


{% block body %}
    {{ block.super }}
    <p>Not a member? <a href="{% url 'register' %}">Register</a></p>
    <form id="login_form" action="{% url 'login' %}" method=POST>
        {% csrf_token %}

        {% comment %} {{ form.username.errors }} {% endcomment %}
        <div class="form-floating mb-4">
            <input type="text" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}" class="form-control" required placeholder="username or email" />
            <label class="form-label" for="{{ form.username.id_for_label }}">Username or email</label>
        </div>
    
        <!-- Password input -->
        {% comment %} {{ form.password.errors }} {% endcomment %}
        <div class="form-floating mb-4">
            <input type="password" id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}" class="form-control" required placeholder="Password" />
            <label class="form-label" for="{{ form.password.id_for_label }}">Password</label>
            <div class="text-center form-text"><a href="{% url 'passwordResetForm' %}">Forgot your password?</a></div>
        </div>
    
        <!-- Submit button -->
        <div class="d-flex justify-content-center">
            <button type="submit" value="Submit" class="btn btn-primary btn-block mb-4 ">Log in</button>
        </div>

        <!-- Register buttons -->
        <div class="text-center">
            <p>or log in with:</p>
            <a href="{% url 'social:begin' backend='google-oauth2' %}?next={% url 'home' %}">
                <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-google"></i>
                </button></a>
            
            <a href="{% url 'social:begin' backend='twitter' %}?next={% url 'home' %}">
                <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-twitter"></i>
                </button>
            </a>
        </div>
    </form>
{% endblock body %}
