{% extends "main/base.html" %}

{% block title %}inlemma - change your password{% endblock title %}

{% block body %}       
    {{ block.super }}

    <form id="passwordReset" method=POST>
        {% csrf_token %}
        
        <!-- Password input -->
        {% comment %} {{ form.new_password1.errors }} {% endcomment %}
        <div class="form-floating mb-4">
            <input type="password" id="{{ form.new_password1.id_for_label }}" name="{{ form.new_password1.html_name }}" class="form-control" required placeholder="password" />
            <label class="form-label" for="{{ form.new_password1.id_for_label }}">New password</label>
            <div class="form-text">
                <ul>
                    <li>Your password can’t be too similar to your other personal information.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can’t be a commonly used password.</li>
                    <li>Your password can’t be entirely numeric.</li>
                </ul>
            </div>
        </div>

        {% comment %} {{ form.new_password2.errors }} {% endcomment %}
        <div class="form-floating mb-4">
            <input type="password" id="{{ form.new_password2.id_for_label }}" name="{{ form.new_password2.html_name }}" class="form-control" required placeholder="password" />
            <label class="form-label" for="{{ form.new_password2.id_for_label }}">New password confirmation</label>
            <div class="form-text">Enter the same new password as before, for verification.</div>
        </div>
    
        <!-- Submit button -->
        <div class="d-flex justify-content-center">
            <button type="submit" value="Submit" class="btn btn-primary btn-block mb-4 ">Change</button>
        </div>
    </form>

{% endblock %}