.posts {
    /* background-color:burlywood;
    padding: 1em;
    padding-top: 0; */
    width: 100%;
    /* margin-top: 1em; */
    border-radius: 1em;
}

.post {
    background-color:lavender;
    border-radius: 1em;
    width: 100%;
    padding: 2em;
    margin-top: 1em;
}

.post_body {
    word-wrap: break-word;
    text-align: justify;
    /* overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
            line-clamp: 6; 
    -webkit-box-orient: vertical;
    margin-bottom: 0; */
}

.post_body blockquote {
    border-left: 0.3em solid rgba(122, 122, 122, 0.3);
    margin: 1em 1em;
    padding: 0.5em 0.5em;
    quotes: "\201C""\201D""\2018""\2019";
}

.post_body blockquote::before {
    color: rgba(123, 123, 123, 0.3);
    content: open-quote;
    font-size: 3em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.2em;
}

.post_body img {
    max-width: 100%;
    object-fit: contain;
}

.post_body table 
{
    border-collapse: collapse;
    table-layout:fixed;
    width:100%;
}

.post_body thead,
.post_body tbody,
.post_body tr,
.post_body th,
.post_body td {
  border: inherit;
}

.post_body pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}