.posts {
    background-color:burlywood;
    padding: 1em;
    padding-top: 0;
    width: 100%;
    margin-top: 1em;
    border-radius: 1em;
}

.post {
    background-color:lavender;
    border-radius: 1em;
    width: 100%;
    padding: 2em;
    margin-top: 1em;
}

.post_body {
    word-wrap: break-word;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6; /* number of lines to show */
            line-clamp: 6; 
    -webkit-box-orient: vertical;
    margin-bottom: 0;
}