{% load static %}

<form id="post_form" action="{% url 'home' %}" method=POST>
    {% csrf_token %}

    {% comment %} {{ form.title.errors }} {% endcomment %}
    {% comment %} {{ form.body.errors }} {% endcomment %}
    
    <div class="d-flex align-items-center" id="newPostHeader">

        <div class="d-flex align-content-center" id="posting_buttons">
            <button type="submit" value="Submit" name="publish" id="post_button" class="btn btn-primary post_header_button">Post</button>
            <button type="submit" value="Submit" name="save" id="save_button" class="btn btn-primary post_header_button">Save</button>
        </div>

        <div class="d-flex align-items-center flex-grow-1" id="post_options">

            <div class="d-flex align-content-center flex-wrap">
                <div class="form-check form-switch post_option">
                    <input class="form-check-input" type="checkbox" role="switch"
                        id="{{ form.anonymous.id_for_label }}"
                        {% if anonymous %} checked {% endif %}
                        name="{{ form.anonymous.html_name }}">
                    <label class="form-check-label" for="{{ form.anonymous.id_for_label }}">Anonymous</label>
                </div>
        
                <div class="form-check form-switch post_option">
                    <input class="form-check-input" type="checkbox" role="switch"
                        id="{{ form.comments.id_for_label }}"
                        {% if comments %} checked {% endif %}
                        name="{{ form.comments.html_name }}">
                    <label class="form-check-label" for="{{ form.comments.id_for_label }}">Comments</label>
                </div>
                
                <div class="form-check form-switch post_option">
                    <input class="form-check-input" type="checkbox" role="switch"
                        id="{{ form.messages.id_for_label }}"
                        {% if post_messages %} checked {% endif %}
                        name="{{ form.messages.html_name }}">
                    <label class="form-check-label" for="{{ form.messages.id_for_label }}">Messages</label>
                </div>
            </div>
        </div>
    </div>

    <div id="newPostEntries">
        <textarea 
        class="resizable_textarea newpost"
        id="{{ form.title.id_for_label }}"
        name="{{ form.title.html_name }}"
        type="text" class="form-control"
        placeholder="Title">{% if title %}{{ title }}{% endif %}</textarea>
        
        <textarea 
        id="dummyNewPost"
        style="height:100px;"
        class="newpost"
        type="text" class="form-control"        
        {% comment %} placeholder="Your story..." {% endcomment %}
        ></textarea>

        <div id="newPostBody" style="display:none;">
            {{ form.media }}
            {{ form.body }}

            {% comment %} {{ form.media }}
            <textarea
            id="{{ form.body.id_for_label }}"
            name="{{ form.body.html_name }}"
            ></textarea>

            <script type="text/javascript">
                CKEDITOR.replace( '{{ form.body.id_for_label }}',
                                  {{ config.default|safe }} );
            </script> {% endcomment %}
        </div>

    </div>
    
</form>

<script src="{% static 'home/js/autoHideCK.js' %}"></script>
<script src="{% static 'main/js/resizableText.js' %}"></script>